.sidebar-left {
  background: #ebeff2;
  padding-left: 20px;
  padding-top: 20px;

}
.sidebar-right {

  background: #000;
  
}



    .freniz-navbar{
      background-color : #0E2A12;
      border-bottom:none;
    }
     .freniz-navbar .container{
      margin-left:0px;
      width:100%!important;
      padding-left:0px;
    }

    .freniz-navbar .navbar-header{
      padding-left:15px;
      background-color:#D1D2D4;
      min-width:250px;
      min-height: 50px;
      background-image:url('../images/Freniz-Logo.png');
      background-repeat:no-repeat;
      background-position: center;
      
    }
    @media (min-width:768px){
      .freniz-navbar .navbar-header:after{
          content: "";
          display: block;
          width: 0; 
          height: 0; 
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 50px solid #D1D2D4;
          position: fixed;
          z-index:1031;
          top: -50px;
          left: 250px;
      }

      .freniz-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
      }

    }

    @media (max-width:767px){
      .freniz-collapse.collapse {
        z-index:1000px;
      }

    }
    .row.vdivide [class*='col-']:not(:last-child):after {
  background: red;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
   