<ul>

        <li class="dropdown {{menu.headerClass}} {{ menu.footerClass}}" ng-repeat="menu in menus" ng-init="menu.isOpened = false" ng-class="{'freniz-dropdown-menu':menu.subMenus, 'open':menu.isOpened}" >

          <a href="{{(menu.subMenus?'#':menu.url)}}"  ng-click="open(menu)" role="button" ><i class="{{menu.iconClass}}"></i><span class="label label-success">{{menu.message}}</span><img src="{{menu.image}}" class="{{(menu.image?'user-image':'')}}">{{menu.menuHeading}}<span class="pull-right"><i class="{{menu.iClass}}"></i></span><span class="{{menu.profile?'btn btn-default btn-flat pull-left':''}}">{{menu.profile}}</span><span class="{{menu.signout?'btn btn-default btn-flat pull-right':''}}">{{menu.signout}}</span></a><img src="{{menu.imageSrc}}" class="{{(menu.imageSrc?'img-circle':'')}}"><p class="{{menu.designation?'text-center':''}}">{{menu.designation}}</p>
            <menu-heading menus="menu.subMenus" class="{{menu.image?'dropdown-menu':''}}" ng-if="(menu.subMenus && menu.subMenus.length > 0)">
            </menu-heading>
        </li>
</ul>